<div class="container mt-3">
    <div class="row">
        
        <!-- Verse List Panel-->
        <div class="col-md-4">
            <div class="list-group">
                <a *ngFor="let verse of verses"
                href="#"
                class="list-group-item list-group-item-action"
                (click)="selectedVerse(verse)">
                {{ verse.reference }}
                </a>
            </div>
        </div>

        <!-- Verse Detail Panel-->
         <div class="col-md-8">
            <div *ngIf="selectedVerse" class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ selectedVerse.reference }}</h5>
                    <p class="card-text">{{ selectedVerse.content }}</p>
                </div>
            </div>
         </div>
    </div>
</div>
    